{% extends "base.jinja" %}
{% block content %}
  <h2>List of all Cars Posted on Our Website!</h2>
  <ol>
    {% for car in cars %}
      <li>{{ car.make }} {{ car.model }} {{ car.year }}- {{ car.price }}</li>
    {% endfor %}
  </ol>
{% endblock %}
